#sky {
 background-repeat: no-repeat;
 background-size: cover;
}

#red {
 width: 200px;
 height: 200px;
    
}

#yellow {

 width: 200px;
 height: 200px;

}

#green {

 width: 200px;
 height: 200px;

}
