#sky {
 background-image: Auto_Racing_Plain_Blue.svg.png;
 background-repeat: no-repeat;
 background-size: cover;
}

#red {
 width: 200px;
 height: 200px;
 display: block;
 margin-left: 700px;
 transition-property: width, height;
  transition-duration: 2s;
}

#yellow {
 display: block;
 width: 200px;
 height: 200px;
margin-left: 700px;
}

#green {
 display: block;
 width: 200px;
 height: 200px;
 margin-left:700px;

}
img:hover{
  text-align: center;
}

p {
 
 
 
}
