#sky {
 background: lightblue;
 background-repeat: no-repeat;
 background-size: cover;
}


#red {
 width: 200px;
 height: 200px;
 display: block;
}

#yellow {
 display: block;
 width: 200px;
 height: 200px;
}

#green {
 display: block;
 width: 200px;
 height: 200px;
}
div:hover {
 
 
 
}
img{
  text-align: center;
   margin-left: 850px;
}

h1 {
 text-align: center;
 text-shadow: 2px 2px white;
}

h2 {
 text-align: center;
 text-shadow: 2px 2px white;
}

h3 {
 text-align: center;
 text-shadow: 2px 2px white;
}

h4 {
 text-align: center;
 text-shadow: 2px 2px white;
}
 


